@font-face { font-family: Delicious; src: url('waltograph42.otf'); }
@font-face { font-family: Delicious; font-weight: bold; src: url('waltograph42.otf'); }
h3 { font-family: Delicious, sans-serif; font-size:72px }
