.vscode
Data/Private Data/

Python/API Example.ipynb

Python/NoteBooks/__pycache__/
Python/NoteBooks/sensitivevariable.py

Python/NoteBooks/LLM Example.ipynb

Python/Singletons/__pycache__
Python/NoteBooks/Interview Samples/
